package {{.PackageName}}

type Domain struct {
	Repository *Repository
	Service    *Service
}

func (d *Domain) GetRepository() any {
	return d.Repository
}

func New() *Domain {
	repository := NewRepository()
	service := NewService(repository)

	return &Domain{
		Repository: repository,
		Service:    service,
	}
}
