package {{.PackageName}}

import "github.com/platforma-dev/platforma/database"

type Repository struct{}

func NewRepository() *Repository {
	return &Repository{}
}

func (r *Repository) Migrations() ([]database.Migration) {
	return []database.Migration{}
}
