name: CI

permissions:
  contents: read

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "docs/**"

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      # Make file in docs build folder so embed does not fail
      - run: mkdir docs/dist && touch docs/dist/file

      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
        with:
          version: v2.5

  build-demo:
    name: build demo apps
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, windows]
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test
        run: go build ./demo-app/cmd/...

  test:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu]
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test
        run: |
          go test -v -coverprofile="coverage.tmp.txt" ./...
          cat coverage.tmp.txt | grep -v "demo-app" > coverage.txt

      - name: Upload coverage reports to Codecov
        # upload coverage reports only once
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1
        with:
          path-to-profile: coverage.txt
